{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Awards</title>
    <link rel="stylesheet" href="{% static 'stats/css/main.css' %}">
</head>
<body>

{% include 'stats/includes/header.html' %}

<h2><a href="{{ APP_HOMEPAGE }}">Home</a> > <a href="{% url 'index' %}">Stats</a> > Awards</h2>
<hr/>

{% if all_awards %}
   <table>
       <tr>
       <th>Trail Award</th>
       <th>What You Get</th>
       <th>Description</th>
      </tr>
     {% for award in all_awards %}
       <tr>
          <td>
            <a href="{% url 'award' award.num_trails %}">{{ award.num_trails }}</a>
          </td>
          <td>
             {{ award.award_name }}
          </td>
           <td>
             {{ award.award_description }}
            </td>
       </tr>
     {% endfor %}
   </table>

{% else %}
    <p>No awards are available.</p>
{% endif %}

{% include 'stats/includes/footer.html' %}

</body>
</html>