{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hares</title>
    <link rel="stylesheet" href="{% static 'stats/css/main.css' %}">
</head>

<body>

{% include 'stats/includes/header.html' %}

<h2><a href="{{ APP_HOMEPAGE }}">Home</a> > <a href="{% url 'index' %}">Stats</a> > <a href="{% url 'trails' %}">Trails</a>  > <a href="{% url 'trail' trail %}">{{ trail }}</a> > Hares</h2>

<hr/>

{% if hares %}

<h3>{{ hares.count }} Hares on {{ trail_date }}</h3>

<table>
{% for hare in hares %}
<tr>
<td>{% if hare.hasher_id.mugshot %}
<img width=100 src="{{ hare.hasher_id.mugshot.url }}">
    {% else %}
    No picture
    {% endif %}
</td>
<td><a href="{% url 'hasher' hare.hasher_id.id %}">{{ hare.hasher_id.hash_name }}</a></td>
</tr>
{% endfor %}
</table>

{% endif %}

{% include 'stats/includes/footer.html' %}

</body>
</html>