{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hasher</title>
        <link rel="stylesheet" href="{% static 'stats/css/main.css' %}">
</head>
<body>

{% include 'stats/includes/header.html' %}

<h2><a href="{{ APP_HOMEPAGE }}">Home</a> > <a href="{% url 'index' %}">Stats</a> > <a href="{% url 'hashers' %}">Hashers</a>  > {{ hasher.hash_name }}</h2>
{% if hasher.mugshot %}
<p><img width=200 src="{{ hasher.mugshot.url }}">
{% endif %}

<hr/>
<h2>Hasher Stats</h2>
<table>
<tr>
    <td style="vertical-align: top;"><b>Total trails</b><br/>{{ hasher_trails.count }}</td>
    <td style="vertical-align: top;"><b>Hared trails</b><br/>{{ hared_trails.count }}</td>
    <td style="vertical-align: top;"><b>First trail</b><br/><a href="{% url 'trail' first_trail %}">{{ first_trail }}</a></td>
    <td style="vertical-align: top;"><b>Latest trail</b><br/><a href="{% url 'trail' latest_trail %}">{{ latest_trail }}</a></td>
    <td style="vertical-align: top;"><b>Home kennel</b><br/>{{ hasher.home_kennel }}</a></td>
    <td style="vertical-align: top;"><b>Wanked</b><br/>{{ wanked.count }}</td>
    <td style="vertical-align: top;"><b>Nickname</b><br/>{{ hasher.hash_nickname }}</td>
    <td style="vertical-align: top;"><b>Status</b><br/>{{ hasher_status.name }}</td>
</tr>
</table>

<h2>Nerd Deets</h2>

{% if hasher.pi_visible %}

<p><i>You can opt-out this hasher only public information by contacting <a href="mailto:hashcash@austinh3.org?subject=Opt Out">Hash Cash</a></i></p>
<table>
<tr>
    <td style="vertical-align: top;"><b>Nerd Name</b></br>
    <h3>{{ hasher.nerd_first }} {{ hasher.nerd_last }}</h3></td>
    <td style="vertical-align: top;"><b>Address</b><br/>
    {{ hasher.address }}<br/>
    {{ hasher.city }}, {{ hasher.state_province }}<br/>
    {{ hasher.zip_postal_code }}
    </td>
    <td style="vertical-align: top;"><b>Phone</b></br>{{ hasher.phone }} </td>
    <td style="vertical-align: top;"><b>Email</b></br><a href=mailto:"{{ hasher.email }}">{{ hasher.email }}</a></td>
</tr>
</table>

{% else %}

<p><i>You can opt-in this hasher only public information by contacting <a href="mailto:hashcash@austinh3.org?subject=Opt In">Hash Cash</a></i></p>

{% endif %}

{% include 'stats/includes/footer.html' %}

</body>
</html>