{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hashmaster {{ APP_VERSION }}</title>
    <link rel="stylesheet" href="{% static 'stats/css/main.css' %}">
</head>
<body>

{% include 'stats/includes/header.html' %}

<h2><a href="{{ APP_HOMEPAGE }}">Home</a> > Stats</h2>
<hr/>

<h3><a href="{% url 'trails' %}">Trails</a></h3>

<h4>Recent</h4>
{% if recent_trails %}
    <ul>
     {% for trail in recent_trails %}
        <li><a href="{% url 'trail' trail.trail_id %}">{{ trail.trail_id }}</a> - {{ trail.trail_description }} - {{trail.trail_date}}</li>
     {% endfor %}
    </ul>
{% else %}
    <p>No recent trails are available.</p>
{% endif %}

<h3><a href="{% url 'hashers' %}">Hashers</a></h3>

<h3><a href="{% url 'awards' %}">Awards</a></h3>

<h3><a href="{% url 'stats_years' %}">Years</a></h3>
<h4>Recent</h4>
{% if recent_years %}
    <ul>
     {% for year in recent_years %}
        <li><a href="{% url 'stats_year' year.year %}">{{ year.year_name }}</a></li>
     {% endfor %}
    </ul>
{% else %}
    <p>No recent stats years are available.</p>
{% endif %}


{% include 'stats/includes/footer.html' %}

</body>
</html>