{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trail</title>
    <link rel="stylesheet" href="{% static 'stats/css/main.css' %}">
</head>
<body>

{% include 'stats/includes/header.html' %}

<h2><a href="{{ APP_HOMEPAGE }}">Home</a> > <a href="{% url 'index' %}">Stats</a> > <a href="{% url 'trails' %}">Trails</a> > <a href="{% url 'trail' trail %}">{{ trail }}</a> > Map</h2>

<hr/>

<h3>Trail Map</h3>
{% if trail.map %}
<p>Click on map to get full-sized version</p>
     <a href="/media/{{ trail.map }}">"<img width=50% src="/media/{{ trail.map }}"></a>

{% else %}
<p>No map available for trail #{{ trail }}</p>

{% endif %}

{% include 'stats/includes/footer.html' %}

</body>
</html>