{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pack</title>
    <link rel="stylesheet" href="{% static 'stats/css/main.css' %}">
</head>
<body>

{% include 'stats/includes/header.html' %}

<h2><a href="{{ APP_HOMEPAGE }}">Home</a> > <a href="{% url 'index' %}">Stats</a> > <a href="{% url 'trails' %}">Trails</a>  > <a href="{% url 'trail' trail %}">{{ trail }}</a> > Pack</h2>

<hr/>

{% if pack %}
<h3>{{ pack.count }} Hashers on {{ trail_date }}</h3>
<table>

{% for hound in pack %}
<tr>
<td>{% if hound.hasher_id.mugshot %}
<img width=100 src="{{ hound.hasher_id.mugshot.url }}">
    {% else %}
    No picture
    {% endif %}
</td>

<td><a href="{% url 'hasher' hound.hasher_id.id %}">{{ hound.name_at_trail }}</a></td>
</tr>
{% endfor %}

</table>
{% endif %}

{% include 'stats/includes/footer.html' %}

</body>
</html>