{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Hashers</title>
    <link rel="stylesheet" href="{% static 'stats/css/main.css' %}">
</head>
<body>

{% include 'stats/includes/header.html' %}

<h2><a href="{{ APP_HOMEPAGE }}">Home</a> > <a href="{% url 'index' %}">Stats</a> > Years</h2>
<hr/>

{% if all_stats_years %}
     <table>
         <tr>
             <th>Year</th>
             <th>Year Name</th>
             <th>Start Date</th>
             <th>End Date</th>
         </tr>
          {% for stats_year in all_stats_years %}
             <tr>
               <td><a href="{% url 'stats_year' stats_year.year %}">{{ stats_year.year }}</a></td>
               <td>{{ stats_year.year_name }}</td>
               <td>{{ stats_year.start_date }}</td>
               <td>{{ stats_year.end_date }}</td>
             </tr>
           {% endfor %}
     </table>

{% else %}
    <p>No stats years are available.</p>
{% endif %}

{% include 'stats/includes/footer.html' %}

</body>
</html>