{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trail</title>
    <link rel="stylesheet" href="{% static 'stats/css/main.css' %}">
</head>
<body>

{% include 'stats/includes/header.html' %}

<h2><a href="{{ APP_HOMEPAGE }}">Home</a> > <a href="{% url 'index' %}">Stats</a> > <a href="{% url 'trails' %}">Trails</a> > <a href="{% url 'trail' trail %}">{{ trail }}</a> > Trash</h2>

<hr/>

<h3>Trash for trail #{{ trail }}</h3>

{% if trail.trash %}
  <embed src="{{ trail.trash.url }}" style="width: 100%; height: 100vh;" type="application/pdf"></a>
{% else %}
  <p>No trash available for trail #{{ trail }}</p>

{% endif %}

{% include 'stats/includes/footer.html' %}

</body>
</html>