{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video</title>
    <link rel="stylesheet" href="{% static 'stats/css/main.css' %}">
</head>
<body>

    {% include 'stats/includes/header.html' %}

<h2><a href="https://austinh3.org">Home</a> > <a href="{% url 'index' %}">Stats</a> > <a href="{% url 'trails' %}">Trails</a> > <a href="{% url 'trail' trail %}">{{ trail }}</a> > Video</h2>

<hr/>

<h3>Video for trail #{{ trail}}</h3>
{% if trail.video %}
  <video controls width="640" height="480">
    <source src="{{ trail.video.url }}" type="video/mp4" />
   </video>
{% else %}
  <p>No video available for trail #{{ trail}}</p>
{% endif %}

<hr/>

    {% include 'stats/includes/footer.html' %}

</body>
</html>